/*--------------------------------------------------------------
# Font
--------------------------------------------------------------*/
$font-family-sans-serif: Helvetica Neue, Helvetica, Hiragino Sans, 'ヒラギノ角ゴ ProN W3', Hiragino Kaku Gothic ProN, 'メイリオ', Meiryo, sans-serif;

/*--------------------------------------------------------------
# Grid breakpoints
--------------------------------------------------------------*/
/*$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);*/

/*--------------------------------------------------------------
# Grid containers
--------------------------------------------------------------*/
/*$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px
);*/